@use "../../styles/partials/colors";

.contestant-nav-item {
    margin-bottom: 1rem;
    border: 2px solid colors.$active-background;

    &__link {
        text-decoration: none;
        color: #000;
        width: 100%;
        padding: 0.5rem;
        display: flex;
        align-items: center;
    }

    &--selected {
        background-color: colors.$active-background;
    }

    &__image {
        height: 5rem;
        width: 5rem;
        margin-right: 0.5rem;
        object-fit: cover;
        object-position: top;
    }
}